@model IEnumerable<Department>

@{
    ViewData["Title"] = "Delete Department";
}

<h1>Hapus Pegawai</h1>

<p>
    <br />
</p>

@using (Html.BeginForm("Delete", "Department", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <input type="hidden" id="Id" name="Id" value="@Html.DisplayFor(modelItem => item.Id)">
                    @*<input type="hidden" id="Name" name="Name" value="@Html.DisplayFor(modelItem => item.Name)">*@
                </td>
            </tr>
            <tr>
                <th>
                    Division @Html.DisplayNameFor(model => model.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Division.Name)
                    @*<input type="hidden" id="DivisionId" name="DivisionId" value="@Html.DisplayFor(modelItem => item.DivisionId)">*@
                </td>
            </tr>
        }
        <tr>
            <th>Are You Sure?</th>
            <td>
                <input type="submit" value="Yes">
                |
                <a asp-action="Index"><input type="button" value="No"></a>
            </td>
        </tr>
    </table>
}
